@page "/AssetsForMachine/{machineName?}"
@inject NavigationManager NavigationManager
<h3>Assets For Machine @machineName</h3>

<ul>
    @foreach(var asset in machine!.assetsUsed!)
    {
        <li>@asset.assetName  @asset.series </li>
    }
</ul>