@page "/SelectMachine"
@inject NavigationManager NavigationManager
<h3>Select Machine</h3>


<select @bind="selectedValue" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
    <option selected disabled>Select</option>
    @foreach (var item in machines!)
    {
        <option value="@item.machineName">@item.machineName</option>
    }
</select>

<button class="btn btn-link" @onclick="HandleSelectionChange" disabled="@String.IsNullOrEmpty(selectedValue)">Click</button>