@page "/MachinesWithLatestAssetSeries"
@inject NavigationManager NavigationManager
<h3>Machines With Latest Asset Series</h3>

<ul>
    @foreach (var machine in machines)
    {
        <li>@machine</li>
    }
</ul>